@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix")
      format("embedded-opentype"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff")
      format("woff"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf")
      format("truetype");
}
* {
  font-family: "NanumBarunGothic";
}
body {
  margin: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.945);
}
h1 {
  font-size: 3rem;
}
p {
  font-size: 1.8rem;
}
#Gallery,
#LineUp,
#Ticket {
  display: flex;
  flex-direction: column;
}
section {
  height: 100%;
  border: 1px solid rgb(34, 34, 34);
}

/* nav */
nav {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.651);
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}
.show_nav {
  visibility: visible;
  opacity: 1;
}
nav > a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
}

/* Home */
#Home {
  overflow: hidden;
}
.Home_paragraph {
  position: absolute;
  margin: 50px;
  color: rgb(255, 255, 255);
  text-align: start;
  z-index: 50;
}
#Home h1 {
  margin-top: 120px;
  margin-bottom: 0;
  -webkit-text-stroke-color: rgba(0, 0, 0, 0.808);
}
#Home p {
  margin-top: 12px;
  margin-left: 14px;
  -webkit-text-stroke-color: rgba(0, 0, 0, 0.685);
}
#Home img {
  width: 100%;
  height: 100%;
}

/* Gallery */
#Gallery {
  justify-content: center;
  align-items: center;
  background-color: black;
  cursor: default;
  overflow: hidden;
}
#Gallery img {
  width: 100%;
  height: 100%;
  opacity: 0.6;
  transition: all 0.5s ease-in-out;
}
#Gallery img:hover {
  transform: scale(1.1);
  opacity: 0.4;
  overflow: hidden;
}
.pargraph {
  position: absolute;
  color: white;
  text-align: center;
}

/* LineUp */
#LineUp {
  justify-content: space-evenly;
  color: white;
}
#LineUp h1 {
  margin: 0;
  text-align: center;
}
.row {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
}
.dj {
  width: 8%;
  border-radius: 100%;
}
.dj:hover {
  opacity: 30%;
}
.dj_names {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.dj_name {
  font-size: 1rem;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}
.show_dj {
  visibility: visible;
  opacity: 1;
}
.lineup_btn {
  margin: 0 auto;
  width: 10%;
  height: 5%;
  font-size: 1.2rem;
  background-color: rgb(211, 210, 210);
  outline: none;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}
.lineup_btn:hover {
  background-color: rgb(179, 176, 176);
}

/* Ticket */
#Ticket {
  justify-content: center;
  align-items: center;
  color: white;
}
#Ticket p {
  text-align: center;
}
